body{
    background:goldenrod;
    font: normal 20px Arial;

}
header{
    color: black;
    text-align: center;

}
section{
    background: white;
    border-radius: 5px;
    padding: 10px;
    width:auto;
    margin: auto;
    box-shadow: black;
}
footer{
    color: black;
    text-align: center;
    

}